@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(https://fonts.gstatic.com/s/italianno/v8/dg4n_p3sv6gCJkwzT6RXiJwt.ttf) format('truetype');
}
